<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/tailwind.css">
        <script>

            function togglevisibility(query, el) {
                for (const x of document.querySelectorAll(query)) 
                {
                    x.classList.toggle("togglehidden");
                }
            }
            function toggleglobalvisibility(query, el) {
                for (const x of document.querySelectorAll(query)) 
                {
                    x.classList.toggle("globalhidden");
                }
            }

            function handleClick(cb) {
                console.log("Clicked, new value = " + cb.checked);
            }

            // top is for unread messages
            //bg-slate-900
            // bottom is for read messages
            //bg-green-500
            let unselected_class="bg-stone-400"
            let selected_class="bg-green-500"

            window.addEventListener("load", async function() {
                // on page load
                connectWebSocket();

                let video_id = "{{video_id}}";
                // if video_id starts with live- then it is a live stream
                // if it is a live stream then enable all the visibility toggles
                if (video_id.startsWith("live-")) {
                    let toggles = document.getElementById("valuetoggles").children
                    // change style.display to inline
                    // change checked to true
                    for (const x of toggles) 
                    {
                        x.getElementsByTagName('span')[0].style.display="inline";
                        x.getElementsByTagName('input')[0].checked=true;
                    }
                }

                for (const x of document.getElementById("donations").children) 
                {
                    x.addEventListener("click", function(e) {
                        // check if the tag wasn't a link
                        // or if it had an onclick event
                        // if it did then don't toggle the read status
                        if (e.target.tagName == "A" || e.target.onclick != null) {
                            return;
                        }
                        // check if the user is logged in
                        if (window.localStorage.getItem('token') == null) {
                            // if they aren't logged in then
                            // don't toggle the read status
                            return;
                        }

                        toggleReadStatus(x.id)
                    });
                }

                {% for (header,body) in colors %}
                    {% match header %}
                    {% when 4279592384 -%}
                    var el = document.getElementById("4279592384");
                    el.getElementsByTagName('span')[0].style.display="inline";
                    el.getElementsByTagName('input')[0].checked=true;
                    {% when 4278237396 -%}
                    var el = document.getElementById("4278237396");
                    el.getElementsByTagName('span')[0].style.display="inline";
                    el.getElementsByTagName('input')[0].checked=true;
                    {% when 4278239141 -%}
                    var el = document.getElementById("4278239141");
                    el.getElementsByTagName('span')[0].style.display="inline";
                    el.getElementsByTagName('input')[0].checked=true;
                    {% when 4294947584 -%}
                    var el = document.getElementById("4294947584");
                    el.getElementsByTagName('span')[0].style.display="inline";
                    el.getElementsByTagName('input')[0].checked=true;
                    {% when 4293284096 -%}
                    var el = document.getElementById("4293284096");
                    el.getElementsByTagName('span')[0].style.display="inline";
                    el.getElementsByTagName('input')[0].checked=true;
                    {% when 4290910299 -%}
                    var el = document.getElementById("4290910299");
                    el.getElementsByTagName('span')[0].style.display="inline";
                    el.getElementsByTagName('input')[0].checked=true;
                    {% when 4291821568 -%}
                    var el = document.getElementById("4291821568");
                    el.getElementsByTagName('span')[0].style.display="inline";
                    el.getElementsByTagName('input')[0].checked=true;
                    {% else -%}
                    console.log("unknown color {{header}}");
                    {% endmatch -%}
                {% endfor -%}
                document.getElementById("gifted-toggle").getElementsByTagName('input')[0].checked=true;
                document.getElementById("member-toggle").getElementsByTagName('input')[0].checked=true;
                document.getElementById("donation-toggle").getElementsByTagName('input')[0].checked=true;
                document.getElementById("sticker-toggle").getElementsByTagName('input')[0].checked=true;
                document.getElementById("read-toggle").getElementsByTagName('input')[0].checked=true;

                var socket;
                function connectWebSocket() {
                    var stop_reconnecting = false;
                    // connect to websocket
                    socket = new WebSocket('wss://'+window.location.hostname+'/ws/{{video_id}}');
                    // bind the onmessage function
                    socket.onmessage = function(event) {
                        //console.log('Received message:', event.data);
                        let data = JSON.parse(event.data);

                        if (data.message == "read status updated"){
                            let el = document.getElementById(data.donation_id);
                            if (data.is_read) {
                                el.classList.remove(unselected_class);
                                el.classList.add(selected_class);
                                document.getElementById(`status-${data.donation_id}`).innerText = "Read";
                            } else {
                                el.classList.remove(selected_class);
                                el.classList.add(unselected_class);
                                document.getElementById(`status-${data.donation_id}`).innerText = "Unread";
                            }
                        } else if (data.message == "new donation") {
                            //console.log("new donation");
                            //console.log("donation: ", data.donation);
                            //console.log("donation read: ", data.read);

                            // append donation to the list
                            // create element
                            let donation = data.donation;
                            let div = document.createElement("div");
                            div.innerHTML = donation;
                            let donation_element = div.firstChild;
                            // extract donation id
                            let donation_id = donation_element.id;

                            // append element to the list
                            let container = document.getElementById("donations");
                            container.appendChild(donation_element);
                            // add event listener
                            donation_element.addEventListener("click", function(e) {
                                // check if the tag wasn't a link
                                // or if it had an onclick event
                                // if it did then don't toggle the read status
                                if (e.target.tagName == "A" || e.target.onclick != null) {
                                    return;
                                }
                                // check if the user is logged in
                                if (window.localStorage.getItem('token') == null) {
                                    // if they aren't logged in then
                                    // don't toggle the read status
                                    return;
                                }

                                toggleReadStatus(donation_id)
                            });
                            // set read status
                            if (data.read) {
                                donation_element.classList.remove(unselected_class);
                                donation_element.classList.add(selected_class);
                                document.getElementById(`status-${donation_id}`).innerText = "Read";
                            } else {
                                donation_element.classList.remove(selected_class);
                                donation_element.classList.add(unselected_class);
                                document.getElementById(`status-${donation_id}`).innerText = "Unread";
                            }

                        } else if (data.message == "authenticated") {
                            console.log("logged in: ", data.status)
                        } else if (data.message == "not authenticated") {
                            println("failed to authenticate with server")
                            // delete token and username from local storage
                            window.localStorage.removeItem('token');
                            window.localStorage.removeItem('username');
                        } else if (data.message == "stream ended") {
                            console.log("stream ended");
                            // set variable to stop reonnecting
                            stop_reconnecting = true;
                        } else {
                            console.log("Unknown message: ", data );
                        }
                    };

                    socket.onerror = function(event) {
                        console.log('WebSocket error: ', event);
                    };

                    socket.onopen = function(event) {
                        console.log('WebSocket connection opened');
                        
                        // check if the user is logged in
                        window.localStorage.getItem('token')
                        if (window.localStorage.getItem('token') != null) {
                            // if they are logged in send login request
                            // over websocket
                            socket.send(JSON.stringify({
                                'username': window.localStorage.getItem('username'),
                                // not actually a password, just the token
                                // you get when you login
                                'password': window.localStorage.getItem('token') 
                            }));
                        }
                    };
                    socket.onclose = function(event) {
                        console.log('WebSocket connection closed');
                        if (stop_reconnecting) {
                            return;
                        }
                        // clear donations only if livestream ended
                        // since normal videos don't send donations
                        // to the client
                        if (video_id.startsWith("live-")){
                            let container = document.getElementById("donations");
                            container.innerHTML = "";
                        }
                        setTimeout(connectWebSocket, 3000);
                    };
                
                }

                // function to toggle the background color of the donation
                // and set the localStorage item to true
                function toggleReadStatus(donation_id) {
                    /*
                    // get the localStorage item
                    var read_status = JSON.parse(localStorage.getItem("{{video_id}}"));
                    // toggle the value
                    let current_status = read_status[donation_id];
                    read_status[donation_id] = !current_status;
                    // set the localStorage item
                    localStorage.setItem("{{video_id}}", JSON.stringify(read_status));

                    // toggle the background color
                    var donation = document.getElementById(donation_id);
                    donation.classList.toggle(unselected_class);
                    donation.classList.toggle(selected_class);
                    // toggle the text
                    var donation_status = document.getElementById(`status-${donation_id}`);
                    if (current_status === false) {
                        donation_status.innerText = "read";
                    } else {
                        donation_status.innerText = "unread";
                    }*/
                    // get element
                    var donation = document.getElementById(donation_id);

                    // check if the donation is already read'
                    let status = donation.classList.contains(selected_class);
                    let body = JSON.stringify({
                        'donation_id': parseInt(donation_id),
                        'is_read':!status 
                    });
                    socket.send(body);
                }
            });

            function toggleRead(el) {
                let style = document.getElementById("hideread");
                // set inner html to
                let str = ".bg-green-500 {display: none;}"
                if (el.checked) {
                    str = ""
                }
                style.innerHTML = str;
            }
            function sortDonations(){
                const donations = document.querySelector('#donations');
                const children = Array.from(donations.children);

                const sortedChildren = children.sort((a, b) => {
                const aId = parseInt(a.id);
                const bId = parseInt(b.id);
                if (isNaN(aId)) {
                    return 1;
                } else if (isNaN(bId)) {
                    return -1;
                } else {
                    return aId - bId;
                }
                });

                donations.replaceChildren(...sortedChildren);
            }
        </script>
        <style>
            input:checked+span {
                --tw-bg-opacity: 1;
                background-color: rgb(96 165 250 / var(--tw-bg-opacity));
            }
            input+span {
                --tw-bg-opacity: 1;
                background-color: rgb(248 113 113 / var(--tw-bg-opacity));
            }
            .globalhidden {
                display: none;
            }
            .togglehidden {
                display: none;
            }
        </style>
        <style id="hideread"></style>
    </head>
    <body>
        <div class="mb-2 flex">
            <div>
                <h1 class="text-xl m-3">Donation category toggles:</h1>
                <a class="m-2 p-2 bg-red-400 cursor-pointer rounded-full" onclick="window.history.back()">go back</a>
            </div>
            <div>
                <div class="my-3">
                    <label id="gifted-toggle">
                        <input type="checkbox" onclick='toggleglobalvisibility(".gifted",this)' hidden>
                        <span class="cursor-pointer my-2 p-2 rounded-full">gifted</span>
                    </label>
                    <label id="member-toggle">
                        <input type="checkbox" onclick='toggleglobalvisibility(".member",this)' hidden>
                        <span class="cursor-pointer my-2 p-2 rounded-full">members</span>
                    </label>
                    <label id="donation-toggle">
                        <input type="checkbox" onclick='toggleglobalvisibility(".donation",this)' hidden>
                        <span class="cursor-pointer my-2 p-2 rounded-full">donations</span>
                    </label>
                    <label id="sticker-toggle">
                        <input type="checkbox" onclick='toggleglobalvisibility(".sticker",this)' hidden>
                        <span class="cursor-pointer my-2 p-2 rounded-full">stickers</span>
                    </label>
                    <label id="read-toggle">
                        <input type="checkbox" onclick='toggleRead(this)' hidden>
                        <span class="cursor-pointer my-2 p-2 rounded-full">read</span>
                    </label>
                </div>
                <p>dono value toggles:</p>
                <div class="my-3" id="valuetoggles">
                    <label id="4279592384">
                        <input type="checkbox" onclick='togglevisibility(".color-4279592384",this)' hidden>
                        <span style="display:none" class="cursor-pointer my-2 p-2 rounded-full">blue</span>
                    </label>
                    <label id="4278237396">
                        <input type="checkbox" onclick='togglevisibility(".color-4278237396",this)' hidden>
                        <span style="display:none" class="cursor-pointer my-2 p-2 rounded-full">light blue</span>
                    </label>
                    <label id="4278239141">
                        <input type="checkbox" onclick='togglevisibility(".color-4278239141",this)' hidden>
                        <span style="display:none" class="cursor-pointer my-2 p-2 rounded-full">green</span>
                    </label>
                    <label id="4294947584">
                        <input type="checkbox" onclick='togglevisibility(".color-4294947584",this)' hidden>
                        <span style="display:none" class="cursor-pointer my-2 p-2 rounded-full">yellow</span>
                    </label>
                    <label id="4293284096">
                        <input type="checkbox" onclick='togglevisibility(".color-4293284096",this)' hidden>
                        <span style="display:none" class="cursor-pointer my-2 p-2 rounded-full">orange</span>
                    </label>
                    <label id="4290910299">
                        <input type="checkbox" onclick='togglevisibility(".color-4290910299",this)' hidden>
                        <span style="display:none" class="cursor-pointer my-2 p-2 rounded-full">pink</span>
                    </label>
                    <label id="4291821568">
                        <input type="checkbox" onclick='togglevisibility(".color-4291821568",this)' hidden>
                        <span style="display:none" class="cursor-pointer my-2 p-2 rounded-full">red</span>
                    </label>
                </div>
            </div>
        </div>
        <hr class="h-1 bg-black"/>
        <div id="donations" style="font-family: Roboto, Arial, sans-serif;word-wrap: break-word;">
            {%- for donation in donations -%}
                {{ donation|safe }}
            {%- endfor %}
        </div>
        <hr class="h-1 bg-black"/>
        <div class="my-4">
            <a class="m-2 p-2 bg-red-400 cursor-pointer rounded-full" onclick="window.history.back()">go back</a>
        </div>
    </body>
</html>